<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pharmacy</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/fontawesome/js/all.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Pharmacy <i class="fa fa-pills"></i></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content" style="padding:50px 10px;">
        @if (TempData["message"] != null)
        {
            <div class="row">
                <div class="alert alert-info">
                    <h4>
                        @TempData["message"]
                    </h4>
                </div>
            </div>
        }

        @RenderBody()
        <hr />
        <footer class="navbar-fixed-bottom text-center">
            <p>&copy; 2018 - All rights reserved by <a href="http://amirhosseinghorbani.com">Amirhossein Ghorbani</a></p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
